*{
  margin: 0;
  padding: 0;
}

.block
{
    width: 80%;
    background: url(../image/NewHorizonsjpg.jpg);
    background-repeat: repeat;
    padding: 70px;
    border : 1px solid #bbb ;
    border-radius : 6px ;
    font-size : 14px ;
    box-shadow : inset 2px 2px 1px #666;
    margin: 5 auto;
    text-align: center;
    letter-spacing: 2px;

}

select
{
  width: 100px;
  height: 20px;
  display: flex;
}

#button
{
  width: 100px;
  height: 55px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

#button:hover
{
  background-color: rgba(244, 0, 0, 0.7);
}

#nom,#mail
{
  width:200px;
  height: 20px;
  display: flex;
}

#message
{
  width: 600px;
  display: flex;
  color: black;
  background-color: WHITE;
}

@media screen and (max-width:777px){

#message {
    width: 160px;
    display: flex;
    color: black;
    background-color: WHITE;
    margin-left: -10px;
}

.block h1{
  margin: 0px -20px 0px -20px;
}

#nom, #mail {
    width: 160px;
    height: 20px;
    display: flex;
    margin-left: -10px;
}

#fichier{
  margin-left: -40px;
}

select{
  margin-left: -10px;
}

.block {
    display: flex;
    margin-top: 280px;
}

}
