
*{
  margin: 0;
  padding: 0;
}

body{
background-image: url(../image/galaxie.jpg);
  width: 100%;
  height: 100vh;
  /* background-color: black; */
}

html{
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Quantico', sans-serif;
  font-size: 16px;
}

.container{
width: 100%;
height: auto;
margin: 0 auto;
}

.menu{
  background-color: #14202e;
  height: 40px;
  letter-spacing: 1px;
    /* position: fixed; */
}

.menu ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.menu ul li{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}

.menu ul li:hover{
  background-color: aliceblue;
  font-size: 25px;
  border-radius: 0 10px 0 10px;
  transition-duration: 1s;
}

.menu ul li a{
  color: white;
  text-decoration: none;
  display: block;
}

.menu ul li a:hover{
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 37px;
    text-decoration: underline;
    color: #64377c;
    font-weight: bold;
    display: flex;
    border-radius: 0 10px 0 10px;
}

.logo img{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bando img{
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
}

.form{
border: black;
  text-align: center;
  margin: 30px;
}

.block{
  width: 80%;
  height: auto;
  margin: 30px auto;
  background-color: black;
  display:flex;
  flex-direction:column;
  color: white;
  justify-content: center;
}

.block iframe{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px;
}

.block h1{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #14202e;
  margin: 30px;
  color: white;
}

.block h2{
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.block p{
  text-align: justify;
  margin: 30px;
  padding: 20px 30px;

}

.block img
{
  width:200px;
  height: 248px;
  margin:10px;
  padding: 10px;
}

.block ul li{
  margin: 0 60px 0 60px;
}

.solar{
  width:100%;
	height:700px;
  margin-bottom: -10px;
}

.gallery{
  width: 100%;
  height: 700px;
}

/* debut API */
#api{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.card{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
/* fin API */

/* debut page inscription */
.inscription{
  margin: 30px;
  display: flex;
  justify-content: center;
  line-height: 35px;
}

.inscription input{
  display: flex;
  align-content: center;
  padding-right: 70px;
}

.inscription select{
  display: flex;
  align-content: center;
}

.poste p{
  border-width:2px;
  border-style: solid;
  border-color:blue;
  border-radius: 10px;
}

#motivation{
  height: 50px;
}

.inscription textarea{
    padding: 50px 225px 50px 225px;
}

.block tr td{
  color: rgb(13, 54, 236);

}

/* fin page inscription */

/* debut page connexion */
.brick{
  width: 80%;
  height: auto;
  margin: 30px auto;
  background-color: black;
  display:flex;
  flex-direction:column;
  color: white;
  justify-content: center;
}

.brick h1{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #14202e;
  margin: 30px;
  color: white;
}
/* fin page connexion */

/* debut footer */
.pied{
  text-align: center;
  height: auto;
  background-color:black;
}

.log{
  display: flex;
  position:absolute;
  margin-left: 40px;
  padding-top: 50px;
}

.carte{
  padding-top: 20px;
}

.pied h6{
  padding-top: 15px;
  letter-spacing: 3px;
  color: white;
}

.social{
  height: 35px;
}

.social ul{
  padding-top: 10px;
  list-style-type: none;
}

.social ul li{
  display: inline-block;
  padding: 5px 0px;
}
/* fin footer */


/* responsive desktop */
@media screen and (min-width:1024px){

  .menu ul li{
    font-size: 1.5rem;
  }

  .logo img{
    display: none;
  }
  .block iframe{
    display: flex;
    width: auto;
  }

  .direct-contact-container iframe{
    display:flex;
    width: auto;
  }

}

/* responsive tablette */

@media screen and (min-width:768px) and (max-width:1023px){

  .menu ul li{
    background-color: #14202e;
    font-size: 1.2rem;
  }

  .menu ul li a:hover{
    justify-content: center;
  }

  .logo img{
    display: none;
  }

  .block iframe{
    display: flex;
    width: auto;
  }

  .direct-contact-container iframe{
    display:flex;
    width: auto;
  }

  .carte{
    padding-top: 200px;
  }

  .log{
    padding-top: 30px;
    padding-left: 240px;
  }


    p{
      font-size: 15px;
    }



}



/* responsive mobile */

@media screen and (max-width:777px){
  .container{
    z-index: 1;
  }
  .menu{
    margin: 30px 75px 30px 40px;
    height: 0;
  }

  .menu ul{
    flex-direction: column;

  }

  .menu ul li{
    background-color: black;
    font-size: 1rem;
    z-index: 2;
  }

  .menu ul li a:hover{
    justify-content: center;
  }

  .bando img{
    display: none;
    width:  auto;
  }

  .logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 300px;
  }

  .block{
    display: flex;
  }

  .block img{
    display: none;
    width: auto;
  }
  .block p {
    text-align: center;
    margin: 10px;
    padding: 0;
}

.block ul li{
    text-align: center;
    margin: 10px;
    padding: 0;
    font-size: 10px;
}

  textarea{
    display: flex;
  }

  .block iframe{
    display: flex;
    width: auto;
  }

  .direct-contact-container iframe{
    display:flex;
    width: auto;
  }

  .solar{
    margin-bottom: 40px;
  }

  .carte{
    padding-top: 250px;
  }

  .log{
    padding-top: 30px;
    margin-right: 15px;
  }

  p{
    font-size: 10px;
  }

  .inscription form{
    padding: 0px 10px 0px 50px;
    text-align: center;
  }

  .inscription input{
    display: flex;
    align-content: center;
    padding: 0px 10px 0px 10px;
    margin: 0px 130px 0px 130px;
  }

  .inscription select{
    display: flex;
    align-content: center;
    width: 200px;
    margin: 0px 130px 0px 130px;
  }

  .inscription textarea{
    padding: 0px 10px 50px 40px;
    margin: 0px 130px 0px 130px;
  }

  .brick{
    display: flex;
    /* margin-top: 270px; */
  }

  #info{
    display: flex;
    font-size: 10px;
    text-align: center;
  }

 thead{
   display: flex;
   font-size: 11px;
 }

  #btn{
    display: inline;
     font-size: 10px;
  }

  #info tr{
    padding: 10px 0px 10px 0px;
  }

  #bienvenue{
    margin-top: -55px;
  }


}
